<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhh.pdfui">

    <application>
        <activity android:name=".PDFPreviewActivity"></activity>
        <activity android:name=".PDFCatelogueActivity" />
        <activity android:name=".PDFActivity" />
    </application>

</manifest>